<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include( "./includes/appbar" ) %>
    <main>
        <h2>Add Product</h2>
        <form method="POST" action="/products/add">
            <p>
                <label>Title
                    <input type="text" class="form-control" name="title">
                </label>
            </p>
            <p>
                <label>Image Url
                    <input type="text" class="form-control" name="image">
                </label>
            </p>
            <p>
                <label>Price
                    <input type="number" step="any" class="form-control" name="price">
                </label>
            </p>
            <p>
                <label>Description
                    <textarea cols="30" rows="10" class="form-control" name="description"></textarea>
                </label>
            </p>
            <p><button>Add Product</button></p>
        </form>
        addProduct
    </main>
  </body>
</html>
